/* Fondo de pantalla completa */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url('/static/images/login-background1.jpg'); /* Imagen inicial */
    transition: background-image 1s ease-in-out; /* Transición suave */
}

/* Contenedor del formulario con fondo muy transparente y desenfoque */
.login-container {
    background-color: rgba(255, 255, 255, 0.2); /* Fondo blanco más transparente */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37); /* Sombra más suave */
    max-width: 800px;
    width: 100%;
    min-height: 550px; /* Ajuste de alto mínimo */
}

/* Estilo del formulario */
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form header h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff; /* Cambiado a blanco para que resalte mejor */
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
    padding: 10px;
    border-radius: 8px;
}

/* Texto de mensaje exitoso */
.messages {
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 8px;
}

/* Estilo de los inputs */
.input-container {
    margin-bottom: 20px;
    width: 100%; /* Asegura que el contenedor cubra todo el ancho */
    display: flex;
    justify-content: center; /* Centrar el input horizontalmente */
    flex-direction: column; /* Alinear en columna para que el input y el botón estén uno debajo del otro */
    align-items: center; /* Alinear elementos en el centro */
}

.input-container input {
    width: 765px; /* Ancho del input */
    height: 40px; /* Alto del input */
    padding: 10px; /* Reducir el padding para permitir un mayor tamaño de fuente sin aumentar el tamaño del campo */
    font-size: 24px; /* Tamaño de la fuente aumentado */
    text-align: center; /* Centrar el texto dentro del input */
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    background-color: rgba(255, 255, 255, 0.6); /* Fondo blanco semitransparente */
    margin-bottom: 15px; /* Espacio entre el input y el botón */
}

.input-container input::placeholder {
    text-align: center; /* Asegura que el texto del placeholder también esté centrado */
    color: rgba(0, 0, 0, 0.5); /* Ajustar el color del placeholder si es necesario */
}

.input-container input:focus {
    border-color: #4CAF50;
}

/* Botones con estilo adaptado */
.accept-button {
    padding: 15px;
    font-size: 18px;
    color: white;
    background-color: #4CAF50; /* Fondo verde semi-transparente */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 800px; /* Controla el ancho del botón de aceptar */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
}

.accept-button:hover {
    background-color: rgba(56, 142, 60, 0.9); /* Fondo verde más oscuro al pasar el cursor */
    transform: translateY(-2px); /* Efecto de elevación en hover */
}

/* Botones de movimiento */
.menu-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

/* Botones del menú */
.menu-button {
    padding: 15px;
    font-size: 18px;
    color: white;
    background-color: #4CAF50; /* Fondo verde */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%; /* Controla el ancho de los botones de menú */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
}

.menu-button:hover {
    background-color: rgba(56, 142, 60, 0.9); /* Fondo verde más oscuro al pasar el cursor */
    transform: translateY(-2px); /* Efecto de elevación en hover */
}

/* Ajuste del footer */
footer {
    text-align: center;
    padding: 10px 0;
    color: #fff;
}

@media (max-width: 768px) {
    .login-container {
        padding: 20px;
        max-width: 100%;
    }

    .menu-container {
        flex-direction: column;
        gap: 10px;
    }

    .menu-button {
        width: 100%;
    }
}

/* Clase para la elevación al usar teclas */
.menu-button.elevate {
    transform: translateY(-5px); /* Efecto de elevación similar al hover */
}

/* Estilo para el estado activo de los botones */
.menu-button.active {
    background-color: rgba(56, 142, 60, 0.9);
    color: rgba(255, 238, 0, 0.719);
}

/* Mensaje del autor en la esquina inferior derecha */
.autor-message {
    position: absolute;
    bottom: 10px; /* Ajusta el margen inferior */
    right: 10px; /* Ajusta el margen derecho */
    color: white;
    font-size: 17px;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
    padding: 5px 10px;
    border-radius: 5px;
    width: 140px;
    text-align: center;
}

#weather-widget {
    margin-bottom: 10px; /* Espacio entre el clima y la fecha/hora */
}

#weather-location {
    font-size: 14px;
    font-weight: bold;
}

#weather-temp {
    font-size: 16px;
    margin: 5px 0;
}

#weather-description {
    font-size: 12px;
    text-transform: capitalize;
}

.custom-footer {
    margin-top: 80px; /* Ajusta la cantidad según sea necesario */
    text-align: center;
    color: #fff;
    font-size: 16px; /* Puedes ajustar el tamaño de la fuente si lo deseas */
}

/* Mensajes de error */
.messages .error {
    text-transform: uppercase;
    background-color: rgba(255, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid red;
}

/* Modal visible cuando se activa */
#inconsistency-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semi-transparente */
    z-index: 1000;
    display: none; /* Oculto por defecto */
    justify-content: center;
    align-items: center;
}

/* Contenido del modal */
.modal-content {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semi-transparente */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37); /* Sombra */
    max-width: 400px;
    text-align: center;
}

#inconsistency-message {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333; /* Color de texto */
}

/* Botones del modal */
#accept-modal-button, #cancel-modal-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 120px;
}

/* Botón Aceptar */
#accept-modal-button {
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#accept-modal-button:hover {
    background-color: rgba(56, 142, 60, 0.9); /* Fondo verde más oscuro al pasar el cursor */
    transform: translateY(-2px); /* Efecto de elevación en hover */
}

/* Botón Cancelar */
#cancel-modal-button {
    background-color: #f44336;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#cancel-modal-button:hover {
    background-color: rgba(244, 67, 54, 0.9); /* Fondo rojo más oscuro al pasar el cursor */
    transform: translateY(-2px); /* Efecto de elevación en hover */
}
