/* static/css/styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #00bcd4;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.menu-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.menu-button {
    padding: 15px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #00bcd4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-button:hover {
    background-color: #0097a7;
}

.dni-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.dni-container input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    margin-right: 10px;
}

.accept-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #00bcd4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.accept-button:hover {
    background-color: #0097a7;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #00bcd4;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
