<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Reloj Fichador{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'reloj_fichador/css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Reloj Fichador</h1>
        <nav>
            <ul>
                <li><a href="{% url 'reloj_fichador:home' %}">Inicio</a></li>
                <li><a href="{% url 'reloj_fichador:registrar_entrada' %}">Registrar Entrada</a></li>
                <li><a href="{% url 'reloj_fichador:registrar_salida_transitoria' %}">Salida Transitoria</a></li>
                <li><a href="{% url 'reloj_fichador:registrar_entrada_transitoria' %}">Entrada Transitoria</a></li>                
                <li><a href="{% url 'reloj_fichador:registrar_salida' %}">Registrar Salida</a></li>
                <li><a href="{% url 'reloj_fichador:lista_registros' %}">Lista de Registros</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Reloj Fichador</p>
    </footer>
</body>
</html>
