<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Reloj Fichador{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="login-image">
            <!-- Imagen de fondo -->
        </div>
        <div class="login-form">
            <header>
                <h1>Control Horarios</h1>
            </header>
            <main>
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div class="{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

                <div class="menu-container">
                    <!-- Aquí se definen los botones para cada tipo de movimiento -->
                    <button class="menu-button" onclick="setTipoMovimiento('entrada')">Entrada (Q)</button>
                    <button class="menu-button" onclick="setTipoMovimiento('salida_transitoria')">Salida transitoria (V)</button>
                    <button class="menu-button" onclick="setTipoMovimiento('entrada_transitoria')">Entrada transitoria (M)</button>
                    <button class="menu-button" onclick="setTipoMovimiento('salida')">Salida (P)</button>
                </div>

                <div class="input-container">
                    <form id="movimientoForm" method="POST" action="{% url 'reloj_fichador:registrar_movimiento_tipo' 'entrada' %}">
                        {% csrf_token %}
                        <input type="hidden" id="tipo_movimiento" name="tipo_movimiento" value="entrada">
                        <input type="text" id="dni" name="dni" placeholder="Ingrese su DNI" required autocomplete="off">
                        <button type="submit" class="accept-button">Aceptar</button>
                    </form>
                </div>
                {% if error %}
                    <div class="error">
                        <p>{{ error }}</p>
                    </div>
                {% endif %}
            </main>
            <footer>
                <p class="custom-footer">&copy; 2024 Control Horarios</p>
            </footer>
        </div>
    </div>
    <script>
        function setTipoMovimiento(tipo) {
            document.querySelectorAll('.menu-button').forEach(button => {
                button.classList.remove('active');
                button.classList.remove('elevate'); // Remover la clase de elevación previamente aplicada
            });

            document.getElementById('tipo_movimiento').value = tipo;
            document.getElementById('movimientoForm').action = "{% url 'reloj_fichador:registrar_movimiento_tipo' 'placeholder_tipo' %}".replace('placeholder_tipo', tipo);
            const activeButton = document.querySelector(`.menu-button[onclick="setTipoMovimiento('${tipo}')"]`);
            activeButton.classList.add('active');
            activeButton.classList.add('elevate'); // Añadir la clase de elevación
            setTimeout(() => {
                activeButton.classList.remove('elevate'); // Remover la clase de elevación después de un tiempo
            }, 300); // Duración de la elevación, similar a la del hover
        }

        document.addEventListener('DOMContentLoaded', function() {
            const dniInput = document.getElementById('dni');

            document.addEventListener('keydown', function(event) {
                switch (event.key.toUpperCase()) {
                    case 'Q':
                        setTipoMovimiento('entrada');
                        break;
                    case 'V':
                        setTipoMovimiento('salida_transitoria');
                        break;
                    case 'M':
                        setTipoMovimiento('entrada_transitoria');
                        break;
                    case 'P':
                        setTipoMovimiento('salida');
                        break;
                }
            });

            dniInput.focus();
            dniInput.addEventListener('blur', function() {
                setTimeout(() => dniInput.focus(), 10);
            });

            dniInput.addEventListener('input', function() {
                this.value = this.value.replace(/[^0-9]/g, '');
            });

            // Lista de imágenes de fondo
            const images = [
                "{% static 'images/login-background1.jpg' %}",
                "{% static 'images/login-background2.jpg' %}",
                "{% static 'images/login-background3.jpg' %}",
                "{% static 'images/login-background4.jpg' %}",
                "{% static 'images/login-background5.jpg' %}",
                "{% static 'images/login-background6.jpg' %}",
                "{% static 'images/login-background7.jpg' %}",
                "{% static 'images/login-background8.jpg' %}"
            ];

            let currentIndex = 0;

            function changeBackground() {
                // Cambiar la imagen de fondo
                document.body.style.backgroundImage = `url('${images[currentIndex]}')`;

                // Actualizar el índice para la próxima imagen
                currentIndex = (currentIndex + 1) % images.length; // Vuelve al inicio cuando llegue al final
            }

            // Cambiar la imagen cada 5 minutos (300000 ms)
            setInterval(changeBackground, 60000); // Cambia el tiempo según tu preferencia (en milisegundos)
        });
    </script>

    <div class="autor-message">
        <div id="weather-widget">
            <div id="weather-location">Cargando...</div>
            <div id="weather-temp"></div>
            <div id="weather-description"></div>
        </div>
        <p id="current-date-time"></p>
    </div>

    <script>
        function updateDateTime() {
            const currentDateTime = new Date();
            const formattedDateTime = currentDateTime.toLocaleString(); // Formato local de fecha y hora
            document.getElementById("current-date-time").textContent = formattedDateTime;
        }

        // Actualizar la fecha y hora actuales al cargar la página
        updateDateTime();

        // Opcional: Si deseas que la hora se actualice cada segundo, puedes usar setInterval
        setInterval(updateDateTime, 1000);
    </script>
    <script>
        const apiKey = 'b2155ed715b58e7be1cfbb93879fc4b1'; // Tu API Key
        const cityId = '3864331'; // ID para Bell Ville, Córdoba, Argentina
        const apiUrl = `https://api.openweathermap.org/data/2.5/weather?id=${cityId}&appid=${apiKey}&units=metric&lang=es`;

        function updateWeather() {
            fetch(apiUrl)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('weather-location').textContent = data.name;
                    document.getElementById('weather-temp').textContent = `${Math.round(data.main.temp)}°C`;
                    document.getElementById('weather-description').textContent = data.weather[0].description;
                })
                .catch(error => console.error('Error al obtener los datos:', error));
        }

        // Actualiza el clima al cargar la página
        updateWeather();

        // Configura un intervalo para actualizar el clima automáticamente cada 10 minutos (600000 ms)
        setInterval(updateWeather, 600000); // Cambia el tiempo según tu preferencia (en milisegundos)
    </script>
</body>
</html>
